@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
	--principal: #22252a;
	--blanco: #f4f4ff;
	--gris: #706f6f;
	--rojo: #ff6060;
	--verde: #02a763;
	--azul-claro: #0079ff;
	--azul-oscuro: #183e6a;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1.4vw;
	font-family: "Lato", "sans-serif";
	outline: none;
	color: var(--blanco);
	border: none;
	text-decoration: none;
}