@keyframes aparecer{
	from{
		opacity: 0;
		transform: translateY(2vw);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
}
*{
	font-family: "Inter", "sans-serif";
}
body{
	background: gray;
	min-height: 100vh;
	display: flex;
	width: 100%;
	background: var(--blanco);
	padding-right: 2vw;
	gap: 2vw;
}
main{
	flex: 9;
}
.bento{
	border-radius: 2vw 2vw 0 0;
	background: var(--principal);
	min-height: calc(100vh - 8vw);
	padding: 2vw;
	position: relative;
}
.fondo{
	width: 100%;
	border-radius: 2vw;
	height: 16vw;
	background-position: center;
	background-size: cover;
}
.fondo input{
	display: none;
}
.fondo label{
	opacity: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	border-radius: 2vw;
	gap: 0.4vw;
}
.fondo label:hover{
	opacity: 1;
	backdrop-filter: brightness(0.5);
	cursor: pointer;
}
.fondo label i{
	font-size: 3vw;
}
.fondo label span{
	font-size: 1vw;
}
.contenido{
	position: absolute;
	top: 11vw;
	display: flex;
	align-items: flex-end;
	pointer-events: none;
}
.imagen{
	background: var(--blanco);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10vw;
	height: 10vw;
	margin: 2vw;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	pointer-events: all;
}
.imagen input{
	display: none;
}
.imagen label{
	opacity: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	gap: 0.4vw;
}
.imagen label:hover{
	opacity: 1;
	backdrop-filter: brightness(0.5);
	cursor: pointer;
}
.imagen label i{
	font-size: 3vw;
}
.imagen label span{
	font-size: 1vw;
}
label[for="name"]{
	font-size: 1vw;
	margin-bottom: 0.2vw;
	font-weight: 700;
}
.nombre{
	display: flex;
	flex-direction: column;
	pointer-events: all;
}
.entrada{
	display: flex;
	align-items: center;
	background: var(--blanco);
	padding: 0.6vw 1vw;
	border-radius: 0.6vw;
}
.entrada input{
	background: none;
	color: var(--principal);
	width: 18vw;
	font-weight: 700;
}
.entrada p, .entrada i{
	color: var(--gris);
	font-size: 1vw;
	margin: 0 0.2vw;
}
.entrada p{
	width: 3vw;
	text-align: right;
}
input[type="button"]{
	background: var(--verde);
	width: 9vw;
	height: 3vw;
	border-radius: 0.6vw;
	position: absolute;
	top: 16vw;
	cursor: pointer;
	font-weight: 700;
}
.error{
	padding: 0.4vw;
	margin: 0 2vw;
	border: solid 0.1vw var(--rojo);
	border-radius: 0.3vw;
}
.error p{
	margin: 0;
	color: var(--rojo);
}
dialog{
	position: absolute;
	width: 40vw;
	height: 26vw;
	top: calc(50% - 13vw);
	left: calc(50% - 20vw);
	background: var(--blanco);
	border-radius: 2vw;
	z-index: 50;
	animation: aparecer 300ms ease-in-out;
}
dialog::backdrop{
	background: #000a;
	backdrop-filter: blur(1vw);
}
dialog div{
	margin: auto;
	padding: 2vw;
	width: 36vw;
	height: 26vw;
	display: flex;
	flex-direction: column;
	gap: 0.8vw;
	align-items: center;
}
dialog .botones{
	margin-top: 0.8vw;
	display: flex;
	gap: 2vw;
}
dialog button{
	background: var(--verde);
	cursor: pointer;
	width: 14vw;
	height: 4vw;
	font-weight: 700;
	border-radius: 0.8vw;
}
.cancelar{
	background: var(--principal);
}
.accionar{
	background: var(--rojo);
}
dialog i{
	display: block;
	font-size: 4vw;
	color: var(--rojo);
}
dialog h3, dialog p, dialog b{
	color: var(--principal);
	text-align: center;
}
dialog h3{
	font-size: 3vw;
}
dialog p{
	font-size: 1.2vw;
}