body{
	background: var(--principal);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 40vw;
	width: 30vw;
}
h1{
	font-size: 3vw;
}
h6{
	margin: 1.6vw 0;
	font-weight: normal;
	text-align: center;
}
input{
	display: block;
	width: 90%;
	height: 3vw;
	border-radius: 0.2vw;
	font-size: 1.2vw;
	font-weight: 700;
}
p, a, h6{
	font-size: 1vw;
}
input[type="text"], input[type="password"], input[type="email"]{
	padding: 0 1vw;
	color: var(--principal);
	font-weight: 400;
}
input::placeholder{
	color: var(--principal);
}
.inputs{
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1.8vw;
	text-align: center;
}
p{
	margin: -1vw 0;
}
.iniciar{
	background: var(--azul-claro);
}
.olvidado{
	margin-top: 6vh;
}
.registrate{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 3vw;
	border-radius: 0.2vw;
	font-size: 1.2vw;
	font-weight: 700;
	background: var(--azul-oscuro);
	color: var(--azul-claro);
	margin: none;
}
.iniciar:hover, .registrate:hover{
	cursor: pointer;
}
.error{
	width: 90%;
	padding: 0.4vw;
	margin: -1vw 0;
	border: solid 0.1vw var(--rojo);
	border-radius: 0.3vw;
}
.error p{
	margin: 0;
	color: var(--rojo);
}